
{
  "presets": [
    "babel-preset-env",
    "vue-app"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "dynamic-import-node",
    "syntax-dynamic-import",
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ]
}
