<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <title>大家喜欢我就点个赞</title>
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <meta name=format-detection content="telephone=no">
    <meta name=applicable-device content=mobile>

    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4351521588443940",
            enable_page_level_ads: true
        });
    </script>
    <script type="text/javascript">
        function setFontSize() {
            var deviceWidth = document.documentElement.clientWidth;
            document.documentElement.style.fontSize = deviceWidth / 3.75 + "px";
        }
        window.onresize = setFontSize;
        setFontSize();
    </script>
</head>
<body>
<div id="app"></div>

</body>
</html>
